.nav-top {
    margin-bottom: 1.25rem;

    &__navbar {

        @include media-breakpoint-up(lg) {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        @include media-breakpoint-up(xxl) {
            padding-left: 1.25rem;
            padding-right: 5rem;
        }
    }

    &__search-form {
        height: 40px;

        @include media-breakpoint-up(lg) {
            border-left: 1px solid $gray-200;
            height: 100%;
        }
    }
}
