<div class="countdown {{class}}">
    <div class="countdown__item">
        <span class="countdown__value countdown__hours"></span>
        <span class="countdown__desc">часов</span>
    </div>

    <div class="countdown__item">
        <span class="countdown__value countdown__minutes"></span>
        <span class="countdown__desc">минут</span>
    </div>

    <div class="countdown__item">
        <span class="countdown__value countdown__seconds"></span>
        <span class="countdown__desc">секунд</span>
    </div>
</div>
