<div class="splide__arrows">
    <button class="splide__arrow splide__arrow--prev {{arrowClass}}">
        <svg width="17" height="8">
            <use href="img/svg/sprite.symbol.svg#arrow-left"></use>
        </svg>
    </button>
    <button class="splide__arrow splide__arrow--next {{arrowClass}}">
        <svg width="17" height="8">
            <use href="img/svg/sprite.symbol.svg#arrow-right"></use>
        </svg>
    </button>
</div>
