<div class="row gx-2 splide__arrows">
    <div class="col">
        <button class="splide__arrow splide__arrow--prev splide__arrow--rounded">
            <svg width="17" height="8">
                <use href="img/svg/sprite.symbol.svg#arrow-left"></use>
            </svg>
        </button>
    </div>

    <div class="col">
        <button class="splide__arrow splide__arrow--next splide__arrow--rounded">
            <svg width="17" height="8">
                <use href="img/svg/sprite.symbol.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
</div>
