<!doctype html>
<html>

<head>
    <title>Goldy store</title>
</head>

<body>
    {{>../parts/header}}
    {{>../parts/nav-top}}
    {{>../parts/slider-main}}
    {{>../parts/popular-category}}
    {{>../parts/sale}}
    {{>../parts/products-day}}
    {{>../parts/articles}}
</body>

</html>
