<section class="container nav-top">
    <div class="row g-0 bg-secondary">
        <div class="col-auto mb-1 mb-md-0">
            <nav class="nav-top__navbar navbar navbar-expand-lg navbar--header">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
                    aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarMain">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Каталог</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Акции</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Бренды</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Магазины</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">О нас</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Доставка и оплата</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Статьи</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>

        <div class="col-12 col-md-auto col-lg ms-auto">
            <form class="nav-top__search-form" role="search">
                <div class="field__wrap">
                    <div class="field__icon-wrap">
                        <svg width="16" height="16">
                            <use href="img/svg/sprite.symbol.svg#magnifying-glass"></use>
                        </svg>
                    </div>

                    <input class="field__input-text form-control h-100" type="search" placeholder="Поиск по сайту"
                        aria-label="Search" />
                </div>
            </form>
        </div>
    </div>
</section>
