<section class="section-main container">
    <h2 class="section-main__title mb-2">Популярные категории</h2>

    <ul class="row g-4">
        <li class="col-6 col-md-4 col-xl-2">
            {{>./popular-category/popular-category-item imgName="ring" title="Кольца"}}
        </li>

        <li class="col-6 col-md-4 col-xl-2">
            {{>./popular-category/popular-category-item imgName="earrings" title="Серьги"}}
        </li>

        <li class="col-6 col-md-4 col-xl-2">
            {{>./popular-category/popular-category-item imgName="engagement-rings" title="Помолвочные кольца"}}
        </li>

        <li class="col-6 col-md-4 col-xl-2">
            {{>./popular-category/popular-category-item imgName="bracelets" title="Браслеты"}}
        </li>

        <li class="col-6 col-md-4 col-xl-2">
            {{>./popular-category/popular-category-item imgName="necklaces-pendants" title="Колье и подвески"}}
        </li>

        <li class="col-6 col-md-4 col-xl-2">
            {{>./popular-category/popular-category-item imgName="watch" title="Часы"}}
        </li>
    </ul>
</section>
