<section class="container section-main mb-xxl-7_25 splide splide--slider-main">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                {{>./slider-main/slide-main promoSale="Суперскидка до 60%" promoProductName="НА БРИЛЛИАНТЫ"
                imgName="slider-main"}}
            </li>

            <li class="splide__slide">
                {{>./slider-main/slide-main promoSale="Суперскидка до 60%" promoProductName="НА БРИЛЛИАНТЫ"
                imgName="slider-main"}}
            </li>

            <li class="splide__slide">
                {{>./slider-main/slide-main promoSale="Суперскидка до 60%" promoProductName="НА БРИЛЛИАНТЫ"
                imgName="slider-main"}}
            </li>
        </ul>
    </div>

    {{>./common/splide-arrows arrowClass="splide__arrow--rounded"}}
</section>
