<div class="color-options {{class}}">
    <div class="product-options-title">
        <div class="product-options-title__text">Цвет</div>
    </div>

    <ul class="color-options__list">
        <li class="color-options__item-wrap">
            <div class="color-options__item bg-gray-325"></div>
            <span class="visually-hidden">серый</span>
        </li>

        <li class="color-options__item-wrap active">
            <div class="color-options__item bg-yellow-500"></div>
            <span class="visually-hidden">желтый</span>
        </li>

        <li class="color-options__item-wrap">
            <div class="color-options__item bg-orange-500"></div>
            <span class="visually-hidden">коричневый</span>
        </li>

        <li class="color-options__item-wrap disabled">
            <div class="color-options__item bg-green-200"></div>
            <span class="visually-hidden">желтый 2</span>
        </li>
    </ul>
</div>
