<div class="sizes-options {{class}}">
    <div class="product-options-title mb-1">
        <div class="product-options-title__text">Размер</div>

        <span class="product-options-title__tooltip-icon" data-bs-toggle="popover" data-bs-trigger="hover focus click" data-bs-offset="0,15" data-bs-placement="top" data-bs-content="Также как существующая теория напрямую зависит от экономической целесообразности принимаемых решений.">?</span>
    </div>

    <ul class="sizes-options__list">
        <li class="sizes-options__item active">16,5</li>
        <li class="sizes-options__item">17,5</li>
        <li class="sizes-options__item">18,5</li>
        <li class="sizes-options__item">19</li>
        <li class="sizes-options__item">19,5</li>
        <li class="sizes-options__item">19,5</li>
        <li class="sizes-options__item">18,5</li>
        <li class="sizes-options__item">19</li>
        <li class="sizes-options__item disabled">19,5</li>
        <li class="sizes-options__item disabled">19,5</li>
    </ul>
</div>
